<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <servlet>
        <servlet-name>word</servlet-name>
        <servlet-class>com.hao.Decompose</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>word</servlet-name>
        <url-pattern>/word</url-pattern>
    </servlet-mapping>
</web-app>